{
    "TWITTER_API_KEY": "<API_KEY goes here>",
    "TWITTER_SECRET_API_KEY": "<SECRET_API_KEY goes here>",
    "TWITTER_BEARER_TOKEN": "<BEARER_TOKEN goes here>",
    "TWITTER_ACCESS_TOKEN": "<ACCESS_TOKEN goes here>",
    "TWITTER_SECRET_ACCESS_TOKEN": "<SECRET_ACCESS_TOKEN goes here>"
}
