export CRYPTO_COMPARE_API_KEY=<insert CRYPTO_COMPARE_API_KEY variable here>
export LOCAL_DEV=<insert LOCAL_DEV variable here>

# AWS_ACCESS_KEY_ID=<insert AWS_ACCESS_KEY_ID variable here>
# AWS_SECRET_ACCESS_KEY=<insert AWS_SECRET_ACCESS_KEY variable here>
