export TWITTER_API_KEY=<insert TWITTER_API_KEY variable here>
export TWITTER_SECRET_API_KEY=<insert TWITTER_SECRET_API_KEY variable here>

export TWITTER_BEARER_TOKEN=<insert TWITTER_BEARER_TOKEN variable here>

export TWITTER_ACCESS_TOKEN=<insert TWITTER_ACCESS_TOKEN variable here>
export TWITTER_SECRET_ACCESS_TOKEN=<insert TWITTER_SECRET_ACCESS_TOKEN variable here>

export LOCAL_DEV=<insert LOCAL_DEV variable here>

export AWS_ACCESS_KEY_ID=<insert AWS_ACCESS_KEY_ID variable here>
export AWS_SECRET_ACCESS_KEY=<insert AWS_SECRET_ACCESS_KEY variable here>
