TWITTER_API_KEY=<insert TWITTER_API_KEY variable here>
TWITTER_SECRET_API_KEY=<insert TWITTER_SECRET_API_KEY variable here>

TWITTER_BEARER_TOKEN=<insert TWITTER_BEARER_TOKEN variable here>

TWITTER_ACCESS_TOKEN=<insert TWITTER_ACCESS_TOKEN variable here>
TWITTER_SECRET_ACCESS_TOKEN=<insert TWITTER_SECRET_ACCESS_TOKEN variable here>

LOCAL_DEV=<insert LOCAL_DEV variable here>

AWS_ACCESS_KEY_ID=<insert AWS_ACCESS_KEY_ID variable here>
AWS_SECRET_ACCESS_KEY=<insert AWS_SECRET_ACCESS_KEY variable here>
