{
    "API_KEY": "<API_KEY goes here>",
    "SECRET_API_KEY": "<SECRET_API_KEY goes here>",
    "BEARER_TOKEN": "<BEARER_TOKEN goes here>",
    "ACCESS_TOKEN": "<ACCESS_TOKEN goes here>",
    "SECRET_ACCESS_TOKEN": "<SECRET_ACCESS_TOKEN goes here>"
}
